/* app.css */

/* Define the color variables */
:root {
  --dark-purple: #331832;
  --ruby: #d81e5b;
  --tart-orange: #f0544f;
  --opal: #c6d8d3;
  --background-color: #ede0d5;
}

/* Set the background color of the entire app */
body {
  background-color: var(--background-color);
}

/* Style the components to appear floating with glowing shadow */
.Post {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.PostForm {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.CommentForm {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.Comment {
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Style the color palettes for specific elements */
.Post h4,
.PostForm h5,
.Comment h5 {
  color: var(--ruby);
}

.PostForm h5 {
  border-bottom: 2px solid var(--ruby);
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.CommentForm h5 {
  color: var(--tart-orange);
}

.Comments h3 {
  color: var(--tart-orange);
}

/* Style the buttons */
.Button {
  background-color: var(--ruby);
  color: white;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.edit-button {
  background-color: var(--tart-orange);
}

.delete-button {
  background-color: var(--dark-purple);
}

/* Add the glowing effect on hover */
.Button:hover,
.edit-button:hover,
.delete-button:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

/* Style the Bootstrap Card component */
.Card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Style the Bootstrap Button component */
.btn {
  background-color: var(--dark-purple);
  color: white;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Add the glowing effect on hover for Bootstrap Button */
.btn:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
